*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    text-align: center;
}
#header{
    background-color: azure;
    width: 990px;
    height: 50px;
    margin: 100px auto 0;
    text-align: center;
    line-height: 50px;
}
#header>#AllChecked{
    width: 80px;
    height: 50px;
    float: left;
}
#header>span{
    width: 120px;
    height: 50px;
    display: block;
    float: left;
}
#header>span:nth-of-type(1){
    width: 300px;
    height: 50px;
}

#shopCar{
    width: 990px;
    height: fit-content;
    margin: 0 auto;
}
.shoper{
    padding-left: 20px;
    margin: 0 auto;
    width: 990px;
    height: 38px;
    text-align: left;
}
.shoper>.shopchecked>i{
    margin-left: 20px;
}
/* 客服头像 */
.icon-ww{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../images/ss.gif) no-repeat -80px -3px;
    position: relative;
    top: 9px;
}
.item-ul{
    width: 990px;
    height: 130px;
    background-color: #fcfcfc;
    border: 1px solid #e7e7e7;
}
.item-ul>li{
    height: 119px;
    float: left;
    padding-top: 20px;
    list-style: none;
    text-align: center;
}
.item-ul>li:nth-of-type(1){
    width: 45px;
}
.item-ul>li:nth-of-type(2){
    width: 302px;  
}
.item-ul>li:nth-of-type(2)>div{
    float: right;
    width: 186px;
    height: 100%;
}
.item-ul>li:nth-of-type(2)>div>p{
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.item-ul>li:nth-of-type(2)>div>div{
    text-align: left;
    margin-top: 23px;
}
.item-ul>li:nth-of-type(3){
    width: 172px;
}
.shoper-type{
    height: 118px;
    width: 172px;
    color: #9c9c9c;
    overflow: hidden;
}
.item-ul>li:nth-of-type(4){
    width: 120px;
    text-align: center;
}
.item-ul>li:nth-of-type(4)>price{
    color: #c3c3c3;
}
.item-ul>li:nth-of-type(5){
    width: 120px;
}
.item-ul>li:nth-of-type(5)>div{
    text-align: center;
}
.item-ul>li:nth-of-type(5)>div>.countInput{
    width: 30px;
    height: 30px;
}
.btn{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: aliceblue;
}
.item-ul>li:nth-of-type(6){
    width: 105px;
}
.item-ul>li:nth-of-type(6)>.money{
    color: red;
    font-weight: 700;
}
.item-ul>li:nth-of-type(7){
    padding-left: 20px;
    width: 99px;
    text-align: left;
}
.item-ul>li:nth-of-type(7)>p>a{
    color: black;
}

/* 总计 */
.countsum{
    position: relative;
    width: 990px;
    height: 50px;
    margin: auto; 
}
.countsum>.countbox{
    background-color: #e5e5e5;
    position: fixed;
    bottom: 0%;
    width: 990px;
}
.countsum>.countbox>div:nth-of-type(1){
    float: left;
}
.countsum>.countbox>div:nth-of-type(2){
    float: right;
}
.checkbox{
    width:184px;
    height: 100%;
    line-height: 50px;
    text-align: left;
    padding-left: 18px;
}
.checkbox>a{
    display: inline-block;
    margin-left: 40px;
   
}
.checkbox>a{
    color: #9c9c9c;
}
.checkbox>a:hover{
    text-decoration: underline;
    color: orangered;
}
.countMoney{
    width: 432px;
    height: 50px;
    line-height: 50px;

}
.countMoney>p{
    float: left;
}
.countMoney>p:nth-of-type(1){
    width: 150px;
}
.countMoney>p:nth-of-type(2)>a{
    display: inline-block;
    width: 120px;
    height: 50px;
    background-color: #c3c3c3;
    color: #9c9c9c;
}
#checkedGoodPrice{
    width: 53px;
}
.countMoney>p:nth-of-type(2)>span{
    display: inline-block;
    width: 157px;
}
#checkedcount,
#checkedGoodPrice{
    color: orangered;
    font-weight: bold;
}
#checkedGoodPrice{
    font-size: 16px;
}